/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/

body {
	background: #1a1a1a;
	color: #fff;
}

/*.posts {
	width: 500px;
	height: 500px;
	border: 1px solid #fff;
	padding: 30px;
}
*/
h2 {
	margin-bottom: 10px;
}

.post {
	display: flex;
	flex-direction: column;	
	text-align: center;
	align-items: center;
	width: 500px;
	height: 500px;
	border: 3px solid #fff;
	padding: 20px;
	margin: 30px;
}

img {
	width: 400px;
	height: 400px;
}